<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>


<!doctype html>
<html>
    <head>
        <title>Welcome</title>
        <style>
            .greeting {
                font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
                color: #2b2b2b;
                text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
            }
        </style>
    </head>
    <body>
        <h2 class="greeting">Welcome, {{username}}</h2>
    </body>
</html>